{% extends 'base.html'%}
{% block content %}
<div class="">
  <div class="jumbotron jumbotron-fluid" >
    <div class="container text-black text-center">
      <h2 class="card-title h1-responsive font-bold">💭Are you ready to make your pitch⁉️</h2>
      <a class="btn btn-outline-white btn-md" href="{{url_for('main.newPitch')}}"><i class="fas fa-clone left"></i><b style="color: aqua;">✍🏿post your pitch</b></a>
    </div>
  </div>

<h3 class="text-center">PITCH CATEGORIES</h3>
<hr>

  
    <div class="col-sm">
      <div class=" card col-sm pt-2">
        <div class="well well-lg p-3" style="text-align: center;  background-color: darkgray;">
            <h3 class="">How to pitch for an interview</h3>
            <hr>
            <p>A personal pitch is basically a succinct introduction to yourself and your background. Having an outline pitch ready is a great confidence-booster for graduate interviews (whether in-person, over the phone or over video), networking events and careers fairs. The process of creating one also helps you to focus on what employers want and helps you specifically demonstrate how you meet their requirements. </p>
                <a href="{{url_for('main.displayInterviewCategory')}}" class="btn btn-info btn-center -center">
                See Pitch</a>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align:center; background-color: darkgray;">
            <h3>How to pitch for a promotion</h3>
            <hr>
            <p> These days, we’re always selling something to somebody. Meaning: No matter who you are or what you do, you could always improve your pitching skills.

              Think about it: If you’re a freelancer, you’re pitching your talents. If you’re in PR, you’re pitching an idea. If you’re networking, you’re pitching yourself. And if you’re a proactive employee, you’re pitching your boss on a promotion, a raise, or an idea for a new way to do things.</p>
                <a href="{{url_for('main.displayPromotionCategory')}}" class="btn btn-info btn-center -center">
                See Pitch</a>
        </div>
    </div>
    </div>
  

  <div class="row m-3">
    <div class="col-sm">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center; background-color: darkgray;">
            <h3>Why pick up lines matter? </h3>
            <hr>
            <p>A pick-up line or chat-up line is a conversation opener with the intent of engaging a person for romance or dating. Overt and sometimes humorous displays of romantic interest, pick-up lines advertise the wit of their speakers to their target listeners. </p>
                <a href="{{url_for('main.displayPickupCategory')}}" class="btn btn-info btn-center -center">
                See Pitch</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small red">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Festus 2021 Copyright:
    <a href="">pitch_world</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>

{% endblock %}